@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,700;1,800;1,900&display=swap');
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #cbd5dd;
    background-image: linear-gradient(315deg, #e8edf1 0%, #b9c6df 74%);
}

.quiz-container {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
    width: 600px;
    max-width: 100%;
    overflow: hidden;
}

.quiz-header {
    padding: 2rem;
}
h2 {
    margin: 0;
}

h3 {
    text-align: center;
    padding: 20px;
    justify-content: center;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    font-size: 18px;
    margin: 1rem 0;
    cursor: pointer;
}
ul li label {
    cursor: pointer;
}

button {
    background-color: rgb(59, 87, 211);
    padding: 2rem;
    display: block;
    width: 100%;
    font-family: inherit;
    color: rgb(255, 255, 255);
    border: none;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(20, 0, 107);
}

button:focus {
    background-color: rgb(8, 1, 43);
    outline: none;
}